$body: #477FB2;
$font: #D1EF96;
$header: #C5CC70;
$footer: #A8B234;
$active: rgba(255, 193, 0, 1);
$circle: #B2D173;
$header_bg: rgba(0, 17, 20, 0.7);
$header_ft: rgba(255, 255, 255, 1);
$btn_bg: rgba(0, 108, 255, 0.4);
$btn_hv: rgba(0, 108, 255, 1);